<!-- Sidebar -->
<ul class="sidebar navbar-nav">
	<li class="nav-item active">
		<a class="nav-link" <%= page==="dashboard" ? "active" : "" %>" href="<%= page==="dashboard" ? "#" : "/adminDashboard" %>">
			<i class="fas fa-fw fa-address-card"></i>
			<span>Admin Settings</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" <%= page==="pets" ? "active" : "" %>" href="<%= page==="pets" ? "#" : "/adminInformation" %>">
			<i class="fas fa-fw fa-dog"></i>
			<span>All information</span>
		</a>
    </li>
    <li class="nav-item">
		<a class="nav-link" <%= page==="pets" ? "active" : "" %>" href="<%= page==="pets" ? "#" : "/adminStatistics" %>">
			<i class="fas fa-fw fa-dog"></i>
			<span>Summary Statistics</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" <%= page==="category" ? "active" : "" %>" href="<%= page==="category" ? "#" : "/category" %>">
			<i class="fas fa-fw fa-paw"></i>
			<span>View Categories</span>
		</a>
	</li>
</ul>