<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>The Collar Klub</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
        <link href="stylesheets/index.css" rel="stylesheet">
        <link href="stylesheets/picture.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <%- include navbar.ejs %>
        <div id="wrapper">
            <%- include sidebar.ejs %>
            <div id="content-wrapper">
                <div class="container-fluid">		
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-dog"></i> &nbsp; Caretaker Overview
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <tr>
                                        <th>Name</th>
                                        <%if (caretaker.length > 0) { %>
                                        <td><%= caretaker[0].username%></td>
                                        <% } else { %>
                                        <td></td>
                                        <% } %>
                                    </tr>
                                    <tr>
                                        <th>Caretaker Type</th>
                                        <%if (caretaker.length > 0) { %>
                                        <td>
                                            <% if(caretaker[0].is_full_time) { %> 
                                                Full-Time
                                            <% } else { %> 
                                                Part-Time
                                            <% } %>
                                        </td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                    </tr>
                                    <tr>
                                        <th>Rating</th>
                                        <%if (caretaker.length > 0) { %>
                                        <td><%= caretaker[0].avg_rating%></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                    </tr>
                                    <tr>
                                        <th>No. of Pet-days for the Month</th>
                                        <%if (pet_days.length > 0) { %>
                                        <td><%= pet_days[0].duration%></td>
                                        <% } else { %>
                                            <td>No Data Available</td>
                                        <% } %>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include bottomscript.ejs %>
    </body>
</html>