<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>The Collar Klub</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <%- include navbar.ejs %>
        <div id="wrapper">
            <%- include sidebar.ejs %>
            <div id="content-wrapper">
                <div class="container-fluid">		
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-dog"></i> &nbsp; View All Reviews
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Owner</th>
                                            <th>Pet</th>
                                            <th>Rating</th>
                                            <th>Review</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i< bids.length; i++) { %>
                                            <% if (bids[i].is_successful) { %>
                                        <tr>
                                            <td style="max-width:5px;"><%= bids[i].bid_start_timestamp%></td>
                                            <td style="max-width:5px;"><%= bids[i].owner_username%></td>
                                            <td style="max-width:5px;"><%= bids[i].pet_name%></td>
                                            <td style="max-width:5px;"><%= bids[i].rating%></td>
                                            <td style="max-width:400px;"><%= bids[i].review%></td>
                                        </tr>
                                        <% }} %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include bottomscript.ejs %>
    </body>
</html>