<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>The Collar Klub</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
		<link href="stylesheets/picture.css" rel="stylesheet">	
  </head>
	<body id="page-top">
		<!--scripts-->
		
		<%- include navbar.ejs %>
		<div id="wrapper">
			<%- include sidebar.ejs %>
			<div id="content-wrapper">
				<div class="container-fluid">
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-camera"></i> &nbsp; Profile Picture&nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"><%= join_msg %></span>
						</div>
						<form method="post" enctype="multipart/form-data" action="/update_avatar">
							<div class="card-body">
								<div class="form-group row">
									<div class="col-sm-4">
										<img src="data:image/png;base64, <%=user.avatar%>" class="crop" width="100" height="100">
										<div class="form-group row"></div>
										<input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg" required="required">
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted">
								<button type="submit" class="btn btn-secondary">Update Profile Picture</button> &nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"><%= avatar_msg %></span>
							</div>
						</form>
					</div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-info-circle"></i> &nbsp; Profile Information
						</div>
						<form method="post" action="/update_info">
							<div class="card-body">
								<div class="form-group row">
									<label for="username" class="col-sm-2 col-form-label"><b>Username:</b></label>
									<div class="col-sm-4">
										<input type="text" required="required" readonly class="form-control-plaintext" id="username" value="<%=user.username %>" name="username">
									</div>
								</div>
								<div class="form-group row">
									<label for="email" class="col-sm-2 col-form-label"><b>Email:</b></label>
									<div class="col-sm-10">
										<input type="text" required="required" class="form-control" id="email" name="email" placeholder="Your new email"/>
									</div>

								</div>
							</div>
							<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Update Email</button> &nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"><%= info_msg %></span></div>
						</form>
					</div>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-key"></i> &nbsp; Password Change
						</div>
						<form method="post" action="/update_pass">
							<div class="card-body">
								<div class="form-group row">
									<label for="username" class="col-sm-2 col-form-label"><b>Username:</b></label>
									<div class="col-sm-4">
										<input type="text" required="required" readonly class="form-control-plaintext" id="username" value="<%= user.username %>" name="username">
									</div>
								</div>
								<div class="form-group row">
									<label for="password" class="col-sm-2 col-form-label"><b>Password:</b></label>
									<div class="col-sm-10">
										<input type="password" required="required" class="form-control" id="password" placeholder="Your new password" name="password" pattern=".{8,}" />
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Update Password</button> &nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"><%= pass_msg %></span></div>
						</form>
					</div>
				</div>
				<div style="padding-left: 35px">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal">
						Delete Account
					</button>
					<!-- Modal -->
					<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
									<div class="modal-body">Confirm the deletion of account <%= user.username %>?
										<p style="color:red">WARNING: deleting this account permanently removes all account data and this action is irreversible</p>
									</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									<form action="del_user" method="post"><button class="btn btn-primary float-left" type="submit" id="username" name="username" value="<%= user %>">Delete Account</button></form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include bottomscript.ejs %>
  </body>
</html>
