<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>The Collar Klub</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
	</head>

	<body id="page-top">
		<%- include navbar.ejs %>
		<div id="wrapper" class="bg">
			<% if(!auth) { %>
				<%- include loginsidebar.ejs %>
			<% } else { %>
				<%- include sidebar.ejs %>
			<% } %>
			<div id="content-wrapper">
				<div class="container-fluid">
					<div class="card mb-3">
						<div class="card-footer small text-muted">CS2102 Database Project</div>
					</div>
					<% var hide = (auth == 1) ? "display:none;" : "" %>
					<div style="float:none; <%= hide%>">
						<h1><p style="color:white">Join Us Today!</p></h1>
						<div class="center">
							<a class="btn btn-primary btn-lg btn-block" href="/register"><i class="fas fa-dog"></i>&nbsp;Pet Owner</a>&nbsp;
							<p class="center"style="color:white"><b>OR</b></p>&nbsp;
							<a class="btn btn-outline-light btn-lg btn-block" href="/ctregister"><i class="fas fa-walking"></i>&nbsp;Caretaker</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include bottomscript.ejs %>
  </body>
</html>