
<%- include partials/profile.ejs %>
<h1 class="h2">Advertised Journeys</h1>
</div>
<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-dice-six"></i> &nbsp; New Journey
	</div>
	<form method="post" action="/add_journey">
		<div class="card-body">
			<div class="form-group row">
				<label for="username" class="col-sm-2 col-form-label"><b>User Email:</b></label>
				<div class="col-sm-10">
					<input type="text" required="required" readonly class="form-control-plaintext" id="username" value="<%= user %>" name="username">
				</div>
			</div>
			<div class="form-group row">
				<label for="carname" class="col-sm-2 col-form-label"><b>Car:</b></label>
				<div class="col-sm-4">
						<select class="form-control" id="carname" name="carname">
							<% for(var i=0; i<cars.length; i++) { %>
								<option name="carname" class="dropdown-item" href="#"><%= cars[i].car_model %> - <%= cars[i].car_plate_no %></option>
							<% } %>
						</select>
					<!-- <input type="text" required="required" class="form-control" id="carname" placeholder="Car" name="carname" value=""> -->
				</div>
				<label for="carmaxpass" class="col-sm-2 col-form-label"><b>Max Passengers:</b></label>
				<div class="col-sm-4">
					<input type="number" min="1" step="1" max="7" required="required" class="form-control" id="carmaxpass" placeholder="Max Passengers" name="carmaxpass">
				</div>
			</div>
			<div class="form-group row">
				<label for="pickuparea" class="col-sm-2 col-form-label"><b>Pickup Area:</b></label>
				<div class="col-sm-4">
					<input type="text" required="required" class="form-control" id="pickuparea" placeholder="Pickup Area" name="pickuparea" value="">
				</div>
				<label for="dropoffarea" class="col-sm-2 col-form-label"><b>Dropoff Area:</b></label>
				<div class="col-sm-4">
					<input type="text" required="required" class="form-control" id="dropoffarea" placeholder="Dropoff Area" name="dropoffarea" value="">
				</div>
			</div>
			<div class="form-group row">
				<label for="pickuptime" class="col-sm-2 col-form-label"><b>Pickup Time:</b></label>
				<div class="col-sm-4">
					<input id="pickuptime" name="pickuptime" data-format="yyyy-MM-dd HH:mm:ss" type="text" data-field="datetime" readonly>
					<div id="dtBox"></div>
				</div>
				<label for="dropofftime" class="col-sm-2 col-form-label"><b>Dropoff Time:</b></label>
				<div class="col-sm-4">
					<input id="dropofftime" name="dropofftime" data-format="yyyy-MM-dd HH:mm:ss" type="text" data-field="datetime" readonly>
					<div id="dtBox" data-format="yyyy-MM-dd HH:mm:ss"></div>
				</div>
			</div>
			<div class="form-group row">
				<label for="bidstart" class="col-sm-2 col-form-label"><b>Bid Start:</b></label>
				<div class="col-sm-4">
					<input id="bidstart" name="bidstart" data-format="yyyy-MM-dd HH:mm:ss" type="text" data-field="datetime" readonly>
					<div id="dtBox" data-format="yyyy-MM-dd HH:mm:ss"></div>
				</div>
				<label for="bidend" class="col-sm-2 col-form-label"><b>Bid End:</b></label>
				<div class="col-sm-4">
					<input id="bidend" data-format="yyyy-MM-dd HH:mm:ss" name="bidend" type="text" data-field="datetime" readonly>
					<div id="dtBox"></div>
				</div>
			</div>
		</div>
		<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Advertise Journey</button></div>
	</form>
</div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-trophy"></i> &nbsp; Play List
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Game Name</th>
											<th>Player 1</th>
											<th>Player 2</th>
										</tr>
									</thead>
									<tfoot>
										<th>Total: <i><%= ctx %></i></th>
										<th>Win: <i><%= win %></i></th>
										<th>Avg: <i><%= avg ? avg.toFixed(3) : 0.000 %></i></th>
									</tfoot>
									<tbody>
										<% for(var i=0; i<tbl.length; i++) { %>
										<tr>
											<td><%= tbl[i].game%></td>
											<td>
												<%= tbl[i].user1%> &nbsp;
												<% if(tbl[i].user1 === user) { %>
													<i class='fas fa-user fa-fw'></i>
												<% } %>
												<% if(tbl[i].user1 === tbl[i].winner) { %>
													<i class='fas fa-check-square fa-fw'></i>
												<% } %>
											</td>
											<td>
												<%= tbl[i].user2%> &nbsp;
												<% if(tbl[i].user2 === user) { %>
													<i class='fas fa-user fa-fw'></i>
												<% } %>
												<% if(tbl[i].user2 === tbl[i].winner) { %>
													<i class='fas fa-check-square fa-fw'></i>
												<% } %>
											</td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted"><span class="badge badge-pill badge-info"><%= journey_msg %></span></div>
					</div>
    <%- include partials/footer.ejs %>
  </main>
</div>
</div>

		<%- include bottomscript.ejs %>
  </body>
</html>
