<!-- Sidebar -->
<% var owner = (!is_owner) ? "display: none" : "" %> 
<% var caretaker = (!is_caretaker) ? "display: none" : "" %>
<% var isFullTime = (is_full_time) ? "" : "display: none" %>
<% var isPartTime = (is_full_time != null && !is_full_time) ? "" : "display: none" %>

<ul class="sidebar navbar-nav">
	<div>
		<li class="nav-item" <%= page==="dashboard" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="dashboard" ? "#" : "/dashboard" %>">
			<i class="fas fa-fw fa-address-card"></i>
			<span>My Profile</span>
			</a>
		</li>
	</div>

	<div style="<%=owner%>">
		<li class="nav-item" <%= page==="pets" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="pets" ? "#" : "/pets" %>">
			<i class="fas fa-fw fa-paw"></i>
			<span>My Pets</span></a>
		</li>
	</div>

	<div style="<%=owner%>">
		<li class="nav-item" <%= page==="location" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="location" ? "#" : "/location" %>">
			<i class="fas fa-fw fa-search-location"></i>
			<span>Find Nearby</span>
			</a>
		</li>
	</div>

	<div style="<%=owner%>">
		<li class="nav-item" <%= page==="owner_calendar" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="owner_calender" ? "#" : "/owner_calendar" %>">
				<i class="fas fa-calendar-alt">&nbsp;</i>
				<span>My Bids</span></a>
		</li>
	</div>
	
	<div style ="<%=owner%>">
		<li class="nav-item" <%= page==="rate_review" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="rate_review_form" ? "#" : "/rate_review_form" %>">
				<i class="fas fa-fw fa-dog"></i>
				<span>Feedback Page</span></a>
		</i>
	</div>

	<div style="<%=isPartTime%> <%=caretaker%>">
		<li class="nav-item" <%= page==="caretaker_calendar" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="caretaker_calendar" ? "#" : "/caretaker_calendar" %>">
			<i class="fas fa-calendar-alt">&nbsp;</i>
			<span>My Availabilities</span></a>
			</li>
	</div>
	
	<div style="<%=owner%>">
		<li class="nav-item" <%= page==="newbid" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="newbid" ? "#" : "/newbid" %>">
				<i class="fas fa-fw fa-dog"></i>
				<span>New Bid</span></a>
		</i>
	</div>

	<div style="<%=isFullTime%> <%=caretaker%>">
		<li class="nav-item" <%= page==="full_time_caretaker_calendar" ? "active" : "" %> >
			<a class="nav-link" href="<%= page==="full_time_caretaker_calendar" ? "#" : "/full_time_caretaker_calendar" %>">
			<i class="fas fa-calendar-alt">&nbsp;</i>
			<span>My Availabilities</span></a>
			</li>
	</div>
	<div style="<%=owner%>">
	<li class="nav-item" <%= page==="insert_transac" ? "active" : "" %>>
		<a class="nav-link" href="<%= page==="insert_transac" ? "#" : "/insert_transac" %>">
			<i class="fas fa-fw fa-dog"></i>
			<span>Complete Transaction</span></a>
	</li>
	</div>

	<div style="<%=caretaker%>">
		<li class="nav-item" <%= page==="ctreviews" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="ctreviews" ? "#" : "/ctreviews" %>">
			<i class="fas fa-fw fa-dog"></i>
			<span>View My Reviews</span>
			</a>
		</li>
	</div>

	<div style="<%=caretaker%>">
		<li class="nav-item" <%= page==="caretaker" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="caretaker" ? "#" : "/caretaker" %>">
			<i class="fas fa-fw fa-address-card"></i>
			<span>My Overview</span>
			</a>
		</li>
	</div>

	<div style="<%=caretaker%>">
		<li class="nav-item" <%= page==="dailyprice" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="dailyprice" ? "#" : "/dailyprice" %>">
			<i class="fas fa-fw fa-address-card"></i>
			<span>Add Daily Price</span>
			</a>
		</li>
	</div>

	<div style="<%=caretaker%>">
		<li class="nav-item" <%= page==="edit_dailyprice" ? "active" : "" %>>
			<a class="nav-link" href="<%= page==="edit_dailyprice" ? "#" : "/edit_dailyprice" %>">
			<i class="fas fa-fw fa-address-card"></i>
			<span>Change Daily Price</span>
			</a>
		</li>
	</div>
</ul>
